/**
 * The only stylesheet we need. Just for the desktop.
 */

@import "bourbon/bourbon";
@import "neat/neat";

h1 {
  font-size: 3em;
  line-height: 1.25;
}

header {

  h1 {
    @include span-columns(8);
    text-align: left;
  }

  nav {
    @include span-columns(4);
    text-align: center;
    padding: 0;

    .button {
      margin: 1em 0 .25em;
      width: 49%;
    }

    .social { width: 23%; text-align: right; }
  }
}

.right {float: right; margin: 0 0 0 .5em;}

#content-wrapper {
  .three { @include span-columns(3); }
  .nine { @include span-columns(9); }
}
