/**
 * The only stylesheet we need. Just for the desktop.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 3em;
  line-height: 1.25; }

header h1 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  text-align: left; }
  header h1:last-child {
    margin-right: 0; }
header nav {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  text-align: center;
  padding: 0; }
  header nav:last-child {
    margin-right: 0; }
  header nav .button {
    margin: 1em 0 .25em;
    width: 49%; }
  header nav .social {
    width: 23%;
    text-align: right; }

.right {
  float: right;
  margin: 0 0 0 .5em; }

#content-wrapper .three {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  #content-wrapper .three:last-child {
    margin-right: 0; }
#content-wrapper .nine {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%; }
  #content-wrapper .nine:last-child {
    margin-right: 0; }
