/**
 * The only stylesheet we need. Except for the others.
 */

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300|Roboto+Slab:400,300,100,700|Space+Mono);

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: $medium-green;
  font-size: 3em;
  font-family: $monospace;
  text-align: center;
  line-height: 1em;
  padding: .5em 0;
  margin: 0;
}

h2,
h3,
h4 {
  margin:.5em 0;
}

p { font-family: $roboto-slab; }

img {
  margin: 0 auto;
  max-width: 100%;

  &.full { width: 100%; }
}

a {
  color: #659E63;
  text-decoration: none;

  &:hover {
    color: #659E63;
    text-decoration: underline;
  }
}


header {
  @include outer-container;
  border-bottom: 1px dashed rgba(0,0,0,.1);
  margin-bottom: 1.5em;

  nav {
    text-align: center;
    padding-bottom: 1.5em;

    .button {
      margin-bottom: 1em;
    }

    .social {
      width: 20%;
      display: inline-block;
      text-align: center;
      font-size: 1.5em;
    }
  }
}

#content-wrapper {
  @include outer-container;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  max-width: 50em;
  padding: 0 2em 2em;

  ul {
    list-style-type: square;
    padding: 0 0 0 1.25em
  }
}

#footer {
  text-align: center;
  padding: .75em 0;

  p {margin: 0;}
}
