<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <link rel="stylesheet" href="/css/mobile.css?v=1">
    <link rel="stylesheet" href="/css/desktop.css?v=1" media="(min-width:50em)">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body>
    <div id="content-wrapper">
      <header>
        <h1>Substratal Code</h1>

        <nav>
          <a class="button" href="/">Home</a>
          <a class="button" href="/resume.html">Resume</a>
          <div class="clearfix"></div>

          <a class="social" href="https://twitter.com/deep_spaced"><i class="fa fa-twitter fa-lg"></i></a>
          <a class="social" href="https://medium.com/@deep_spaced"><i class="fa fa-medium fa-lg"></i></a>
          <a class="social" href="https://github.com/deep-spaced"><i class="fa fa-github fa-lg"></i></a>
          <a class="social" href="mailto:andrew@substratalcode.com"><i class="fa fa-envelope-square fa-lg"></i></a>
         </nav>
      </header>

      <section class="content">
        {{ content }}
        <div class="clearfix"></div>
      </section>
    </div>

    <div id="footer">
      <p>&copy; 2014-<span id="current-year"></span> by Andrew Anderson.</p>
    </div>
    <script>document.getElementById('current-year').innerHTML = new Date().getFullYear()</script>


  </body>
</html>
